/* Home Page Styles */
.home-page {
    background-color: #f4f7f6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .home-container {
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .home-container h1 {
    color: #333;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  button {
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn-admin {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-user {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-register {
    background-color: #17a2b8;
    color: #fff;
  }
  
  button:hover {
    opacity: 0.8;
  }
  