/* User Dashboard Styles */
.user-dashboard {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .user-dashboard h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .user-dashboard p {
    font-size: 18px;
    color: #555;
  }
  